apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: spark-history-pvc
  namespace: nuvolaris
  labels:
    app: spark
    component: spark-history
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
