apiVersion: v1
kind: Service
metadata:
  name: spark-master
  namespace: nuvolaris
  labels:
    app: spark
    component: spark-master
spec:
  type: ClusterIP
  selector:
    app: spark
    component: spark-master
  ports:
  - name: master
    port: 7077
    targetPort: 7077
    protocol: TCP
  - name: webui
    port: 8080
    targetPort: 8080
    protocol: TCP
